Линейная аппроксимация
y = {{ lineal_a|round(3) }}x + {{ lineal_b|round(3) }}
СКО: {{ lineal_s|round(3) }}
X   Y   φ(x)   eps
{% for i in range(x|length) %}
{{ x[i]|round(3) }} {{ y[i]|round(3) }} {{ lineal_f[i]|round(3) }} {{ lineal_eps[i]|round(3) }}
{% endfor %}

Полином 2-ой степени
y = {{ pol2_a|round(3) }} + {{ pol2_b|round(3) }}x + {{ pol2_c|round(3) }}x^2
СКО: {{ pol2_s|round(3) }}
X   Y   φ(x)   eps
{% for i in range(x|length) %}
{{ x[i]|round(3) }} {{ y[i]|round(3) }} {{ pol2_f[i]|round(3) }} {{ pol2_eps[i]|round(3) }}
{% endfor %}

Полином 3-ой степени
y = {{ pol3_a|round(3) }} + {{ pol3_b|round(3) }}x + {{ pol3_c|round(3) }}x^2 + {{ pol3_d|round(3) }}x^3
СКО: {{ pol3_s|round(3) }}
X   Y   φ(x)   eps
{% for i in range(x|length) %}
{{ x[i]|round(3) }} {{ y[i]|round(3) }} {{ pol3_f[i]|round(3) }} {{ pol3_eps[i]|round(3) }}
{% endfor %}

Экспоненциальная
y = {{ exp_a|round(3) }} * exp({{ exp_b|round(3) }}x)
СКО: {{ exp_s|round(3) }}
X   Y   φ(x)   eps
{% for i in range(x|length) %}
{{ x[i]|round(3) }} {{ y[i]|round(3) }} {{ exp_f[i]|round(3) }} {{ exp_eps[i]|round(3) }}
{% endfor %}

Логарифмическая
y = {{ log_a|round(3) }} * ln(x) + {{ log_b|round(3) }}
СКО: {{ log_s|round(3) }}
X   Y   φ(x)   eps
{% for i in range(x|length) %}
{{ x[i]|round(3) }} {{ y[i]|round(3) }} {{ log_f[i]|round(3) }} {{ log_eps[i]|round(3) }}
{% endfor %}

Степенная
y = {{ pow_a|round(3) }} * x^{{ pow_b|round(3) }}
СКО: {{ pow_s|round(3) }}
X   Y   φ(x)   eps
{% for i in range(x|length) %}
{{ x[i]|round(3) }} {{ y[i]|round(3) }} {{ pow_f[i]|round(3) }} {{ pow_eps[i]|round(3) }}
{% endfor %}
